<div class="container page-header">

    <div class="row">
        {{#customers}}
        <div class="col col-sm-4">
            {{@index}}<br>
            <ul>
                <li>{{this.email}}</li>
                <li>{{this.}}</li>
                </ul>
        </div>
        {{/customers}}
    </div>
</div>
